<!DOCTYPE HTML>
<html>
<head>
    <title>CEPHEUS FUN EVENT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">STAGE 1</a>
        </div>
    </div>
</nav>
<div>
    <div class="container">
        <div class="col-lg-4">
            <img th:src="@{/images/know_enemy.jpg}" alt="Image 1" width="500px ">
        </div>
    </div>

    <div class="container">
        <div class="col-lg-4">
            <img th:src="@{/images/wedding_rings.jpg}" alt="Image 2" width="500px ">
        </div>
    </div>

</div>

<div class="container">
    <div class="col-lg-4 " style="align-content:center">
        <H1>8601</H1>
    </div>
</div>




</body>
</html>