<!DOCTYPE HTML>
<html>
<head>
    <title>CEPHEUS FUN EVENT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">STAGE 9</a>
        </div>
    </div>
</nav>

<div class="row">

    <div class="container">
        <div class="col-lg-4">
            <H1>Ohhh WTF No one here.. El espía se ha burlado de ti ... ¿Quién es? Golpéalo fuerte y obtén lo que sabe ...</H1>
        </div>
    </div>
</div>

</div>

<div class="container">
    <div class="col-lg-4">
        <img th:src="@{/images/team2/stage9/rajitha.png}" alt="raji.png" width="500px ">
    </div>
</div>


</body>
</html>





