<!DOCTYPE HTML>
<html>
<head>
    <title>CEPHEUS FUN EVENT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">STAGE 18</a>
        </div>
    </div>
</nav>

<div class="row">
    <div style="text-align: center;">
    <div class="container">

            <img th:src="@{/images/team2/stage18/Monkey.jpg}" alt="SAFE" width="1000px " height="600">
<br>
        <hr>
        <br>
    </div>

    <form  action="/team2/passcode">

        <span>
            <input type="text" id="a" name="A" value="" maxlength="3">
            <input type="text" id="b" name="B" value=""maxlength="3">
            <input type="text" id="c" name="C" value=""maxlength="3">
            <input type="text" id="d" name="D" value=""maxlength="3">
            <input type="text" id="e" name="E" value=""maxlength="3">
            <input type="text" id="f" name="F" value=""maxlength="3">
            <input type="text" id="g" name="G" value=""maxlength="3">
        </span>
        <br>
        <br>
        <hr>
        <br>
        <input  type="submit" value="Submit">

    </form>


    </div>
</div>


</body>
</html>





