<!DOCTYPE HTML>
<html>
<head>
    <title>CEPHEUS FUN EVENT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">STAGE 17</a>
        </div>
    </div>
</nav>

<div class="row">

    <div class="container">
        <div class="col-lg-4">
            <H1>Meet The Officer Bellow, give some bribe</H1>
            <H1>Ask from him about the final piece of the key to the puzzle </H1>
        </div>
    </div>



    <div class="container">
        <div class="col-lg-4">
            <img th:src="@{/images/team2/stage17/Monkey.jpg}" alt="BOS" width="500px ">
        </div>
    </div>

    <div class="container">
        <div class="col-lg-4">
            <a href="https://cepheus-fun-event.herokuapp.com/team2/safe"> Enter to the safe room</a>
        </div>
    </div>

</div>


</body>
</html>





